body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    padding: 2rem 0 2rem 0;
}

header {
    text-align: center;
}

footer {
    text-align: center;
    font-size: 75%;
    margin-top: 1ex;
}

h1 span {
    font-size: 0.6em;
    display: block;
}

section.summary {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-align: justify;
}

/* apply Skeleton's non-hover style on hover */
.button.nohover, .button.nohover:hover {
    cursor: initial;
    color: #555;
    border-color: #bbb;
}

.button.button-primary.nohover, .button.button-primary.nohover:hover {
    color: #FFF;
    background-color: #33C3F0;
    border-color: #33C3F0;
}

.button {
    flex-grow: 1;
}

.button.wrapped {
    width: auto;
    height: auto;
    display: block;
    text-align: inherit;
    text-transform: none;
    margin: auto;
    margin-bottom: 0.5em;
    padding: 1em 2em;
    font-size: 1em;
    letter-spacing: initial;
    font-weight: inherit;
    line-height: initial;
    white-space: inherit;
}

section.nomargin > * {
    margin: 0;
}

.infobox {
    display: block;
    flex-grow: 1;
    padding-bottom: 0.5em;
    font-weight: bold;
    font-size: 0.8em;
}
.infobox > label {
    margin: 0;
    white-space: nowrap;   
    font-weight: normal;
    display: inline;
}
    .infobox > label > i {
        width: 1.8em;
        color: silver;
    }

@media (max-width: 549px) {
    .infobox {
        margin-left: 25vw;
        width: 100%;
        text-align: left;
    }

    .infobox > label {
        float: left;
        width: 25vw;
        margin-left: -25vw;
    }

}
/* allow for Skeleton rows to use reverse sorting */
.row.reverse {
    flex-direction: row-reverse;
}

@media (min-width: 550px) {
    .mobileOnly {
        display: none !important;
    }

    .infobox {
        text-align: center;
        border-radius: 4px;
        border: 1px dotted silver;
        padding: 0.70em;
        margin-bottom: 0.70em;
    }

    .row.reverse .column:first-child, .row.reverse .columns:first-child {
        margin-left: 4%;
    }

    .row.reverse .column, .row.reverse .columns {
        margin-left: 0;
    }

    .summary > * {
        margin-left: 1ex;
        margin-right: 1ex;
    }
}

.summary {
    margin: 1.5rem 0;
    width: 100%;
}

.center {
    text-align: center;
}

    .summary > * {
        text-wrap: avoid;
        max-width: 100%;
    }

@media (max-width: 550px) {

    .desktopOnly {
        display: none !important;
    }
    .button {
        width: 100%;
        box-sizing: border-box;
    }
}

/* apply Skeleton's block margins to images as well */
section.row > img {
    margin-bottom: 2.5rem;
}



