@model Eurofurence.App.Domain.Model.Dealers.DealerRecord
@{
    Layout = "~/Views/Shared/_WebPreviewLayout.cshtml";
}

<h1>DealerPreview</h1>

This would be @Model.DisplayName in categories @string.Join(", ", Model.Categories) - woohoo.