@page "/knowledgebase"
@using Eurofurence.App.Backoffice.Client.Models
@using Eurofurence.App.Backoffice.Client.Services
@rendermode @(new InteractiveWebAssemblyRenderMode(false))
@inject IKnowledgeService KnowledgeService

<h3>Knowledge Base</h3>

@if (KnowledgeEntries == null)
{
    <p>No knowledge base entries found.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Titel</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var knowledgeEntry in KnowledgeEntries)
            {
                <tr>
                    <td>@knowledgeEntry.Title</td>
                    <td class="text-center">
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    public KnowledgeEntry[]? KnowledgeEntries;

    protected override async Task OnInitializedAsync()
    {
        await GetKnowledgeEntries();
    }

    private async Task GetKnowledgeEntries()
    {
        KnowledgeEntries = await KnowledgeService.GetKnowledgeEntriesAsync() ?? Array.Empty<KnowledgeEntry>();
    }
}
