@page "/"

<PageTitle>Home</PageTitle>

<h1>Eurofurence App Backoffice</h1>

Welcome to the "backoffice" of our Eurofurence mobile app.

Here, you can manage data like knowledge base articles and images.